body{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    max-height: 1024px;
    background: #F3F5FC;

    }   
body > div{
    align-items:stretch
}
#logo{
        width: 8.33%;
        margin: 2.78% 0% 0% 2.78%;
  
      
    }
#logo img{
        margin-left: 42px;
    }

 #encriptar{
    width: 40.07%;
    max-width: 577px;
    max-height: 856px;
    margin: 11.67% 0% 0% 5.56%;
    }

    #editor{
        max-width: 577px;
        max-height: 683px ;
        width: 100%;
        height:100%;
    }

::placeholder { color: #0A3871; }
#input-text{
    
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    border-style: none;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.13vh;
    line-height: 150%; 
    color: #0A3871;
    padding: 0px;
    
}
#input-text:focus{
    outline: 0;
}
#alert{
    display: inline-flex;
    width: 39.69%;
    height: 2.11%;
    max-width: 229px;
    max-height: 18px;
    margin-bottom: 2.77%;
}
#alert img{
    width: 7.33%;
    height: 88.89%;
    max-width: 16px;
    max-height: 16px;
    margin-right: 3.5%;
}
#text-alert{
width: 89.52%;
height: 100%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 60%;
line-height: 80%;
color: #495057;
opacity: 0.8
}
#botones{
    width: 117.86%;
    height: 7.83%;
    max-width: 680px;
    max-height: 67px;
    display: flex;
}
#botonOne, #botonTwo{
width: 48.24%;
max-width: 328px;
height: 100%;
padding: 3.53%;
border-radius: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 80%;
}
#botonOne{
background: #0A3871;
color: #FFFFFF;
margin-right: 3.53%;

}
#botonTwo{
background: #D8DFE8;
color: #0A3871;
border-color: #0A3871;
box-sizing: border-box
}
#desencriptar{
width: 27.78%;

max-height: 944px;
max-width: 400px;
background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
margin: 2.78% 2.78% 2.78% 12.71%;
}
#desencriptar img{
  margin: 60.75% 8% 8% 8%;
  width: 84%;
  height: 32.20%;
  max-width: 338px;
  max-height: 304px;
}
#desencriptar p:nth-child(2){
    margin: 0vh 8.56% 8.56% 8.56%;
    font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 2.34vh;
   color: #343A40;
   text-align: center;
}

#desencriptar p:nth-child(3){
    margin: 0vh 8.56% 8.56% 8.56%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size:  1.56vh;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');