html,body{    
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    max-height: 1024px;
}
 body{
    display: flex;
    flex-direction:row;
    background: #F3F5FC;
    }   
body > div{
    align-items:stretch
}
#logo{
        width: 8.33%;
        margin: 3.91vh 0% 0vh 2.78%;
    }
#logo img{
        margin-left: 42px;
        height: 4.69vh;
    }

 #encriptar{
    width: 40.07%;
    height: 100vh;
    max-width: 577px;
    max-height: 856px;
    margin: 16.41vh 0% 0vh 5.56%;
    
    }
    #editor{
        width: 100%;
        height: 66.70vh;
        max-width: 577px;
        max-height: 683px ;
    }

::placeholder { color: #0A3871; }
#input-text{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    border-style: none;
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.13vh;
    line-height: 150%; 
    color: #0A3871;
    padding: 0px;
    
}
#input-text:focus{
    outline: 0;
}
#alert{
    display: inline-flex;
    width: 39.69%;
    height: 1.76vh;
    max-width: 229px;
    max-height: 18px;
    margin-bottom: 1.56vh;
    
}
#alert svg{
    
    max-width: 16px;
    max-height: 16px;
    margin-right: 3.5%;
    fill: #495057;
}
#text-alert{
width: 89.52%;
height: 1.76vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.17vh;
line-height: 80%;
margin-top: 0.2vh;
color: #495057;
opacity: 0.8
}
#botones{
    width: 117.87%;
    height: 7.83%;
    max-width: 680px;
    max-height: 67px;
    margin-bottom: 7.03vh;
    display: flex;
}
#botonOne, #botonTwo{
width: 48.24%;
height: 100%;
max-width: 328px;
border-width: 1.6px;
padding: 0px;
border-radius: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.56vh;
border-style: solid;
border-color: #0A3871;
cursor: pointer;
box-shadow: 10px 10px 20px #c5c5c5,
-8px -7px 3px #ffffff;
}


#botonOne{
background: #0A3871;
color: #FFFFFF;
margin-right: 3.53%;
box-sizing: border-box;
}
#botonTwo{
background: #D8DFE8;
color: #0A3871;
box-sizing: border-box;
}


#botonOne::after, #botonTwo::after{
    content: "";
    display: inline-block;
    height: 0%;
    width: 0%;
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.9;
    background: #ffffff5b;
    transition:  opacity 0.8s, transform 0.9s;

    }

    
    #botonOne:hover, #botonTwo:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }


    #botonOne:active, #botonTwo:active{
        border: 3px solid #fff;
        color: #fff;
        font-size: 2vh;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    #botonOne:hover::after,#botonTwo:hover::after {
       width: 100%;
       height: 100%;
       transform: scaleX(1.2) scaleY(1.2);
        background-color: #fff;
        opacity: 0;
       }

    #botonOne:disabled{
        cursor: default;
        color: #0A3871;
    }
    #botonTwo:disabled{
        cursor: default;
        color: #D8DFE8;
    }
    #botonOne:disabled:hover,#botonTwo:disabled:hover {
        color: #D8DFE8;
        box-sizing: border-box;
        transform: translateY(0px);
        box-shadow: 10px 10px 20px #c5c5c5,
        -8px -7px 3px #ffffff;
        
        }
        #botonOne:disabled:hover {color: #0A3871 }

        #botonOne:disabled:hover::after, #botonTwo:disabled:hover::after {
            width: 0%;
            height: 0%;
            transform: scaleX(0) scaleY(0);
             background-color: #fff;
             opacity: 0;
             box-shadow: 10px 10px 20px #c5c5c5,
             -8px -7px 3px #ffffff;
            } 

            #botonOne:disabled:active,#botonTwo:disabled:active {
                border: 1px solid #0A3871;
                font-size: 1.56vh;
                transform: translateY(0px);
                box-shadow: 10px 10px 20px #c5c5c5,
        -8px -7px 3px #ffffff;
            }



#desencriptar{
width: 27.78%;
height: 92.19vh;
max-height: 944px;
max-width: 400px;
background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
margin: 2.78% 2.78% 2.78% 12.71%;
}
#desencriptar img{
  margin: 27.64vh 8% 3.13vh 8%;
  width: 84%;
  height: 29.69vh;
  max-width: 338px;
  max-height: 304px;
}
#desencriptar p:nth-child(2){
    margin: 0vh 8% 3.13vh 8%;
    font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 2.34vh;
   color: #343A40;
   text-align: center;
}

#desencriptar p:nth-child(3){
    margin: 0vh 8% 3.13vh 8%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size:  1.56vh;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
#despues{
    width: 100%;
    height: 79.39vh;
    margin: 3.13vh 8% 3.13vh 8%;
    padding-right: 3%;
    
}
#text-out{
    width: 90%;
    height: 76.27vh;
    max-width: 336px;
    max-height: 781px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2.34vh;
line-height: 150%;
color: #495057;
overflow: hidden;
}

#copy{
    width: 9%;
    height: 4.7vh;
   background: #d8dfe800;
   margin-left: 40%;
    border: 2px solid #d8dfe800;
    border-radius: 100%;
    cursor: pointer;
   box-shadow: 2px 2px 10px #88a3c78c;
}
#copy > i{
    color: #0A3871;
}
#copy > i:last-child{
    display: none;
    opacity: 0;
    transition: all 2s;
    
}
#copy::after{
    position: absolute;
    content: 'Copiar';
  transform: translate(-15px,-45px);
  width: fit-content;
  height: fit-content;
  background-color: #D8DFE8;
  padding: 4px 8px;
  border-radius: 5px;
  transition: .1s linear;
  color: #0A3871;
  text-transform: uppercase;
  font-size: 1.17vh;
  opacity: 0;
  visibility: hidden;
  display: none;
  
}
#copy:hover::after {
    visibility: visible;
    opacity: 1;
    display: block;
  }

#copy:hover{
    transform: scale(1.2);
}


#copy:focus::after{
    position: absolute;
    transform: translate(-15px,-44px);
    content: 'Copiado';
  width: fit-content;
  height: fit-content;
  background-color: #d1e1d8;
  padding: 4px 8px;
  border-radius: 5px;
  color: rgb(22, 85, 24);
  text-transform: uppercase;
  font-size: 1.17vh;
  visibility: visible;
  opacity: 1;
  display: block;

}

#copy:focus > i:last-child{
    display: block;
    color: #456652;
    opacity: 1;
  
}

#copy:focus > i:first-child{
    display: none;
}
.animar{
    animation: animationScale 1s infinite linear;
}
.ocultar{
    animation: opaciti 0.98s linear;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@keyframes animationScale {

    40%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }

}

@keyframes opaciti {
    100%{
        opacity: 0;;
    }

}


@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
